PORT=3000
NODE_ENV=production
BASE_URL=https://www.abzarnabhani.ir

JWT_CUSTOMER_SECRET=change_this_long_random_customer
JWT_ADMIN_SECRET=change_this_totally_different_admin
SESSION_SECRET=change_this_another_long_random
ADMIN_PANEL_PATH=/Mohsen2026and2001
ADMIN_SETUP_TOKEN=

ADMIN_PHONES=09xxxxxxxxx

SMS_PROVIDER=console
KAVENEGAR_API_KEY=
KAVENEGAR_TEMPLATE=

ZARINPAL_MERCHANT_ID=
ZARINPAL_SANDBOX=true

SHOP_CARD_NUMBER=6037-9975-XXXX-XXXX
SHOP_CARD_OWNER=نام صاحب فروشگاه ابزار نبهانی

SHOP_PHONE=09163150039
SHOP_INSTAGRAM=https://instagram.com/your_page
